
<% if logged_in? %>
    <ul>
        <li><p>ログイン完了ユーザ: <%= current_user.name %></p></li>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    </ul>
    <%= render 'tasks/tasks', tasks: @tasks %>
<% else %>
    <ul>
        <li><%= link_to 'Signup', new_user_path %></li>
        <li><%= link_to 'Login', login_path %></li>
    </ul>
<% end %>

<%= link_to "新規タスクの登録", new_task_path %>
